<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.onmymobile.retailapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="6b0530afb94580dbe48bca4aeb6e733c1ba75a63" />

        <activity
            android:name=".MainActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" />
        <activity
            android:name=".IntroWifiActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" />
        <activity
            android:name=".IntroOffersActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" />
        <activity
            android:name=".IntroNewsActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" />
        <activity
            android:name=".IntroReferActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" />
        <activity
            android:name=".IntroTrafficActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" />
        <activity android:name=".LayoutsListActivity">


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".SocialActivity"
            android:screenOrientation="portrait" />
        <!--<activity android:name=".Signin.SigninActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>-->
        <activity
            android:name=".TrafficActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".InviteFrindsActivity" />
        <activity android:name=".LoyaltyActivity" />
        <activity android:name=".MyListSubActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".OrderHistoryActivity"></activity>
    </application>

</manifest>